@use "../../styles/variables";

.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: variables.$input-field-margin-bottom;
  width: variables.$input-field-width;
}

.dropdown-label {
  font-weight: bold;
  font-size: small;
  margin: variables.$input-field-margin;
}

.dropdown-select {
  -webkit-appearance: none;
  appearance: none;
  font-size: variables.$font-size;
  padding: variables.$input-field-padding;
  height: 3.25rem;
  color: variables.$input-text-color;
  border: variables.$border-size solid variables.$input-border-color;
  background-color: variables.$color-white;
  border-radius: variables.$border-radius;
  background-image: variables.$arrow-icon-url;
  background-repeat: no-repeat;
  background-position: calc(100% - variables.$border-radius) center;
  background-size: 20px;
}

.dropdown-option {
  padding: variables.$input-field-padding;
}

.dropdown-select:focus {
  border: variables.$border-size solid variables.$primary-color;
  outline: none;
}

.dropdown-select--error {
  border: variables.$border-size solid variables.$error-color;
}
