.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 300px;
}
.dropdown-label {
  font-weight: bold;
  font-size: small;
  margin: 0px 4px 2px 12px;
}

.dropdown-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 14px;
  padding: 8px;
  height: 45px;
  color: #333;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  background-position: calc(100% - 8px) center;
  background-size: 18px;

  padding-right: 40px;
}

.dropdown-option {
  padding: 8px;
}
.dropdown-select:focus {
  border-color: #007bff;
  outline: none;
}
