@use "../styles/variables.scss";

.root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: variables.$primary-background-color;
}

.root-header {
  background-color: variables.$color-white;
  height: 5.5rem;
  width: 100%;
  color: variables.$color-dark;
  text-align: start;
}

.root-body {
  display: flex;
  margin: 0;
  flex: 1 0 100%;
}

.header {
  font-weight: bold;
  margin-left: 2.2rem;
  color: variables.$color-dark;
}

.main-content {
  display: flex;
  flex-direction: column;
  color: #09090b;
  align-items: flex-start;
  background-color: variables.$primary-background-color;
  width: fit-content;
  height: 100%;
  padding: 1.5rem 2rem;
}

button {
  color: variables.$color-dark !important;
  width: 200px;
  text-transform: none !important;
  font-weight: bolder !important;
  color: variables.$primary-background-color !important;
  justify-content: left !important;
  padding: 0.75rem;
}

button:hover {
  background-color: variables.$primary-color !important;
  color: variables.$color-white !important;
}

button:focus,
button:focus-visible {
  outline: 4px auto variables.$primary-color !important;
}

.css-1kuwa16-MuiCardMedia-root {
  margin: 1rem 0.5rem 0.5rem 1.5rem;
  height: 20% !important;
  width: 20% !important;
}
