.custom-card {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 500px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(0deg, #1c1917, #1c1917 70%, white 49%, white 51%);
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.custom-card img {
  border-radius: 50%;
  border: whitesmoke 2px solid;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}
.user-name {
  font-size: 2rem;
  font-weight: bolder;

  margin: 0;
  padding: 0;
}
.custom-card p {
  font-size: 1rem;
}
.name-container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
}
.description-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
}
.user-description {
  font-size: 1.2rem;
  color: #dbc8b5;
  margin: 0;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666;
  top: 0;
  flex: 1;
}
