@use "../../styles/variables";
@use "../../styles/mixins";

@include mixins.mobile {
  .root-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$secondary-dark-color;
    padding: variables.$unit;
    width: 60px;
    height: 200vh;
    gap: variables.$unit-half;
  }

  .logo {
    display: none;
  }

  .mobile {
    display: flex;
    width: 100%;
    margin: 8px auto;
  }

  .sidebar-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    margin: variables.$unit-half;
  }

  button {
    display: block !important;
    width: min-content !important;
    height: fit-content !important;
    padding: 0 auto !important;
  }

  .css-1sh91j5-MuiButton-startIcon {
    margin: 0 !important;
  }
}

@include mixins.desktop {
  .root-nav {
    display: flex;
    flex-direction: column;
    background-color: variables.$secondary-dark-color;
    padding: variables.$unit;
    width: 200px;
    gap: variables.$unit-half;
  }

  .logo {
    height: auto;
    margin: 3px 8px 3px 8px;
  }
  .mobile {
    display: none;
  }
  .sidebar-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    margin: 0 0.5rem 0 1rem;
  }
}

.line {
  border: 0;
  height: variables.$border-size-one;
  width: 100%;
  background-color: variables.$secondary-background-color;
  margin-bottom: 1.5rem;
}

button {
  color: variables.$color-dark;
  width: 200px;
  text-transform: none !important;
  font-weight: bolder !important;
  color: variables.$color-white !important;
  justify-content: left !important;
  padding: 0.75rem;
}

button:hover {
  background-color: variables.$primary-color;
  color: variables.$color-white;
}

button:focus,
button:focus-visible {
  outline: 4px auto variables.$primary-color;
}

.css-1kuwa16-MuiCardMedia-root {
  margin: 1rem 0.5rem 0.5rem 1.5rem;
  height: 20% !important;
  width: 20% !important;
}

.css-1t1j96h-MuiCardContent-root {
  padding: 0.5rem 1rem 1rem 1.5rem !important;
}
