@use "../../styles/variables";

.root-nav {
  display: flex;
  flex-direction: column;
  background-color: variables.$secondary-dark-color;
  padding: variables.$unit;
  width: 200px;
  gap: variables.$unit-half;
}

.logo {
  height: auto;
  margin: 3px 8px 4px 8px;
}

.line {
  border: 0;
  height: variables.$border-size-one;
  width: 100%;
  background-color: variables.$secondary-background-color;
  margin-bottom: 1.5rem;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  margin: 0 0.5rem 0 1rem;
}

button {
  color: variables.$color-dark;
  width: 200px;
  text-transform: none !important;
  font-weight: bolder !important;
  color: variables.$color-white !important;
  justify-content: left !important;
  padding: 0.75rem;
}

button:hover {
  background-color: variables.$primary-color;
  color: variables.$color-white;
}

button:focus,
button:focus-visible {
  outline: 4px auto variables.$primary-color;
}

.css-1kuwa16-MuiCardMedia-root {
  margin: 1rem 0.5rem 0.5rem 1.5rem;
  height: 20% !important;
  width: 20% !important;
}

.css-1t1j96h-MuiCardContent-root {
  padding: 0.5rem 1rem 1rem 1.5rem !important;
}
